.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em 0;
}

.container__about {
    color: var(--vinho);
    font-weight: 600;
}

.container__titulo{
    color: var(--preto);
    font-size: 48px;
    font-weight: 600;
    padding: 0.7em 0;
}

.container__texto {
    font-size: 20px;
    color: var(--cinza);
    font-weight: 400;
    width: 60vw;
    text-align: center;
}