.metricas__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6em 1em;
}

.metricas__container_conteudo{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.metricas__container__titulo {
    color: var(--vinho);
    font-size: 60px;
    font-weight: 600;
}

.metricas__container_sub {
    color: var(--preto);
    font-size: 18px;
    font-weight: 500;
    padding: 1em 0;
}

.metricas__container_texto {
    color: var(-cinza);
    font-weight: 400;
}
