nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 6em;
}

.logo {
    display: flex;
    align-items: center;
}
.nav__texto {
    color: var(--cinza-escuro);
    margin-left: 10px;
}

.link a {
    text-decoration: none;
    color: var(--cinza);
    margin-right: 2em;
}

button {
    padding: 1em 2em;
    border: none;
    cursor: pointer;
    border-radius: 0.7em;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--fonte-principal);
    background: none;
    color: var(--cinza);
}

button#signUp{
    background-color: var(--vinho);
    color: var(--branco);
}

